header {
    height: 60px;
}

main {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

footer {
    height: 25px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}
