.receitas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    max-height: 200vh;
    overflow-y: auto;
}

.receita {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.receita h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.receita img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.receita ul {
    list-style-type: square;
    padding-left: 20px;
    margin-bottom: 10px;
}

.receita ul li {
    margin: 5px 0;
}

.receita p {
    margin-top: 10px;
}

@media (max-width: 800px) {
    .receita {
        width: 45%;
    }
}

@media (max-width: 500px) {
    .receita {
        width: 100%;
    }
}
